body {
    margin: 0;
    height: 100vh;
    background: var(--accent-dark);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imge/bk.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: var(--accent-dark);
    background-blend-mode: overlay;
}

.login-container {
    width: 380px;
    height: 600px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: -70px;
    padding: 0;
}

.login-header img {
    width: 70px;
    margin-top: 25px;
}

.login-header h4 {
    margin: 5px 0 15px;
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
}

.tab-btn {
    flex: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 12px;
    border: none;
    background: none;
    cursor: pointer;
    color: #999;
    position: relative;
}

    .tab-btn.active {
        color: #ff7a00;
    }

        .tab-btn.active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 35%;
            width: 30%;
            height: 2px;
            background: #ff7a00;
            border-radius: 2px;
        }

.form-control {
    border-radius: 10px;
    background: #f9f9ff;
    border: 1px solid #ddd;
    height: 46px;
    padding-left: 45px;
    font-size: 14px;
    color: #555;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

    .form-group i {
        position: absolute;
        top: 14px;
        left: 15px;
        color: #888;
        font-size: 16px;
    }

.forgot-link {
    font-size: 13px;
    color: #aaa;
    text-decoration: none;
}

.terms {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

    .terms a {
        color: #ff7a00;
        text-decoration: none;
        font-weight: 500;
    }

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

    .social-login button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background: #fff;
        box-shadow: 0 0 6px rgba(0,0,0,0.1);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.login-submit {
    position: relative;
    bottom: -25px;
    left: 10%;
    z-index: 900;
    transform: translateX(-50%);
    background: linear-gradient(to right, #ff7a00, #ffa600);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 22px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.login-form {
    display: none;
    padding: 25px 35px 60px;
    transition: opacity 0.3s ease-in-out;
    background: #fff;
}

    .login-form.active {
        display: block;
    }

.tabs.hidden {
    display: none;
}


#forgotPassForm .login-submit,
#resetPassForm .login-submit {
    position: static;
    transform: none;
    margin: 25px auto 10px;
    left: auto;
    bottom: auto;
    width: 55px;
    height: 55px;
}

 #resetPassForm a,
 #verificationEmail a,#forgotPassForm #backToLoginLink {
     font-size: 14px;
     color: #666;
     text-decoration: none;
     font-weight: 400;
 }

    #resetPassForm a:hover,
    #verificationEmail a:hover, #forgotPassForm:hover #backToLoginLink:hover ,.forgot-link:hover {
        text-decoration: underline;
        color: var(--accent-dark);
    }
