.thumb-img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}
.thumb-img.active {
    border-color: #ff7a00;
}
.main-img {
    width: 100%;
    height: 450px;
    object-fit: contain;
    border-radius: 8px;
}
.color-option {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    display: inline-block;
}
.color-option.active {
    border-color: #ff7a00;
}
.add-to-cart-btn {
    background: linear-gradient(to right, #ff7a00, #ff9e00);
    border: none;
    padding: 14px 0;
    font-weight: 600;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
}
.add-to-cart-btn:hover {
    background: linear-gradient(to right, #ff8e20, #ffb02f);
    transform: translateY(-2px);
}
body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
  }

.product-title {
    font-size: 14px;
    color: #444;
    margin-bottom: 4px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.product-card button {
    margin-top: auto; 
    width: 100%; 
    border-radius: 6px;
    align-self: flex-start;
}

.price {
    color: #ff6600;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
}


.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
    margin-bottom: 0;
    display: inline-block;
    line-height: 1.5;
    display: inline-block;
}

.product-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
}

.product-card > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 0;
    justify-content: space-between;
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: row;
    height: 30%;
    align-items: flex-start;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    margin: 10px;
    padding: 12px;
    background: #fff;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.02);
}

  h6 {
    font-weight: 600;
    color: #555;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
  }